/*Background Image*/
body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.background{
    width:100%;
    height:100%;
    background-image: url('../Images/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.puzzle{
    display: none;
}
/*Menu*/
.heading{
    background-color: peru;
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    font-family: 'Righteous', cursive;
    color:white;
}
.heading a {
    float: right;
}
.logo{
    float:left;
    width:70px;
    height:70px;
}
.headingmenucn{
    font-size: 20px;
}
.f2fimg{
    width:300px;
    height:400px;
}
/* About Us */
.aboutsection{
    background-color: goldenrod;
}
.aboutsection p{
    font-weight: bold;
	text-align: center;
}
.headingmenu1 {
    width: 65%;
    font-size: 30px;
}
.headingmenu1:hover{
    text-shadow: -1px 1px 0 white; 
}
.motto{
    color:rgb(73, 69, 6);
    border:4px groove firebrick;
    font-size: 40px;
    margin-left: 25%;
    margin-right: 25%;
}
.motto:hover{
    border-color: coral;
    background-color: lightslategray;
}
/*chess partners*/
.par{
    font-size: 40px;
    font-family: 'Carter One';
    color:dodgerblue;
}
.partner{
    display: flex;
    justify-content: space-around;
    border: 8px ridge skyblue;
    margin-left: 20%;
    margin-right: 20%;
}
/* Join Us */
.headingmenu2{    
    font-size:30px;
    width:6.8%;
}
.headingmenu2:hover{
    text-shadow:-1px 1px 0 white;
}
.note{
    font-size:18px;
    color: crimson;
    font-family: 'Carter One', cursive;
}
.gmail:hover{
    background-color: #FF8886;
    color:white;
}
.instagram:hover{
    color:white;
    background:linear-gradient(to left, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.discord:hover{
    color:white;
    background-color:#7289DA;
}
/* English to Chinese*/
.headingmenu3{
    float: right;
    font-size: 17px;
    background:linear-gradient(to left, firebrick 50%,black 50%);
}
.language {
    position: relative;
    display: inline-block;  
    width: 80px;
    height: 40px;
  }
  
.language input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .3s;
    transition: .3s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 33px;
    width: 33px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: firebrick;
}
/*outline of switch*/
input:focus + .slider {
    box-shadow: 0 0 5px white;
}
/*animation*/
input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}
 
/* Rounded sliders */
.slider.round {
    border-radius: 40px;
}
  
.slider.round:before {
    border-radius: 50%;
}
/* Welcome to CChess*/
.maintext{
    display: flex;
    justify-content: center;
    font-family: 'Lexend Deca', sans-serif;
    overflow: hidden;
    color:orangered;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    animation: 
        typing 2s steps(40,end),
        blink-caret .2s steps(25,end);
}
@keyframes typing {
    from{width: 0%}
    to{width:100%}
}
@keyframes blink-caret{
    from, to {border-color:transparent}
    0%{border-color:salmon;}
}
.about{
    align-content: center;
}
/* Interactive Board */
.boardimg {
	margin-top: 20px; 
	width: 600px; 
	height: 600px; 
	position: absolute;
}
.overallalignment img {
	width: 60px;
	height: 60px;
}
.menu{
    display: flex;
    justify-content: center;
    height:100vh;
}
.overallalignment{
    width:93vh;
    z-index:2;
}
.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.sectionhead{
    display:flex;
    justify-content:center;
    font-family:'Righteous', cursive;
    color:firebrick;
    font-size: 32px;
}
.section{
    display:block;
    text-align:center;
    font-family:'Gowun Batang', serif;
    color:darkslateblue;
    font-size: 23px;
}
.findout{
    color: darkcyan;
    font-size:30px;
}
.findout:hover{
    color:blue;
    cursor:pointer;
    text-shadow:1px 1px blue;
}
.blackpiece:hover{
    outline: dashed 10px rgba(169,169,169);
}
.redpiece:hover{
    outline: dashed 10px #FFCCCB;
}
.legend{
    border:4px dashed darkred;
    margin-left:30%;
    margin-right: 30%;
}
.layout{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    text-align: center;
    font-size: 30px;
}
.alt{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:red;
    text-align: center;
    font-size: 30px;
}
/*puzzle pages*/
.prev{
    padding:32px;
    float:left;
}
.prev:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,1), 0 17px 50px 0 rgba(0,0,0,1);
}
.next{
    padding:32px;
    float:right;
}
.next:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,1), 0 17px 50px 0 rgba(0,0,0,1);
}
.puzzle:hover{
    transform: scale(1.1);
}
.magnify:hover{
    transform: scale(1.7);
}
/* Tournament */
.tournamentsection{
    background-color: silver;
}
.compsection{
    color:darkblue;
    font-family: 'Gowun Batang', serif;
    font-size: 20px;
    text-align: center;
}
table, th, td {
    border: 2px ridge black;
    margin-left: auto;
    margin-right: auto;
}
.achievements{
    border:5px dashed darkred;
    margin-left: 30%;
    margin-right: 30%;
    color:indigo;
    text-align: center;
}
.bottomsection{
    font-size: 15px;
    color:mediumslateblue;
}
.playdiv{
    text-align: center;
}
.play{
    background-color: firebrick;
    color:azure;
    font-size:30px;
    padding: 15px 32px;
    font-family:'Righteous', cursive;
    display:inline-block;
    cursor:pointer;
    border-radius: 30px;
    border-width: 10px;
    border-color: lightcoral;
}
.play:hover{
    border-color: firebrick;
    background-color: lightcoral;
    color:black;
    text-shadow: 1.5px 1px 0 black;
}
/* signup.html */
/* Form */
.heading2{
    font-size: 80px;
    font-family:'Gowun Batang', cursive;
    text-align:center;
    color:indigo;
}
.heading2:hover{
    text-shadow: -1px 3px 0 black
}
.form{
    text-align: center;
    font-size: 20px;
    font-family: 'Poor Story', bold;
    background-color:lightgreen;
}
.aboutus{
    background-color: lightcyan;
    overflow: auto;
}
.submitbutton{
    background-color: green;
    color:white;
    font-size:30px;
    padding: 9px 18px;
    font-family:'Righteous', cursive;
    display:inline-block;
    cursor:pointer;
    border-radius: 20px;
    border-width: 8px;
    border-color: lime;
}
/*How To Play*/
.htp{
    background-color:darkblue;
    padding:auto;
}
.htpheader{
    display:flex;
    color:lightsteelblue;
    font-size: 30px;
    justify-content: center;
    text-align:center;
    font-family:'Righteous',cursive;
}
.htpheader2{
    display:flex;
    color:lightcoral;
    font-size: 30px;
    justify-content: center;
    text-align:center;
    font-family:'Gowun Batang', serif;
}
.htptext{
    font-size:20px;
    text-align:center;
    font-family:'Gowun Batang', serif;
    color:white;
}
.logoindex{
    height:70px;
    width:70px;
}
/* Alignment */
@media screen and (max-width: 400px){
    .logo{
        width:20%;
        height:100%;
    }
    .logoindex{
        width:55px;
        height:100%;
    }
    .headingmenucn{
        margin-top: 2%;
        font-size:13px;
        width:70%;
    }
    .headingmenu1{
        font-size:11px;
        width:30%;
        margin-top: 7.5%;
    }
    .headingmenu2{
        font-size:11px;
        width:30%;
        margin-top: 7.5%;
    }
    .headingmenu3{
        font-size:13px;
        width:30%;
    }
    .heading{
        height: 55px;
    }
    .slider.round{
        width:80%;
        height:70%;
    }
    .slider.round::before{
        width:40%;
        height:70%;
    }
    .slider.round:after{
        width:40%;
        height:70%;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
    }
    .maintext{
        font-size:10px;
    }
	.background {
        height:60%;
    }
    .overallalignment {
        height: 45vh;
    }
    .section{
        width: 180px;
        height: 100px;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:30%;
    }
    .boardimg {
        width: 90%;
        height: 50%;
    }
    .overallalignment img {
        margin-left: 0;
        width: 34px;
        height: 36px;
    }
    .legend {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .blackpiece:hover{
    outline: dashed 10px rgba(169,169,169);
    }
    .redpiece:hover{
        outline: dashed 10px #FFCCCB;
    }
    .imgpartner1{
        height:30%;
        width:50%;
    }
    .imgpartner2{
        height:50%;
        width:40%;
    }
    .partner{
        width:60%;
    }
    .imagesize1{
        width:70%;
        height:100%;
    }
    .imagesize2{
        width:100%;
        height:300px;
    }
    .palace1{
        width:50%;
        height:50%;
    }
    .palace2{
        width:50%;
        height: 165px;
    }
    .boardsetup{
        width:50%;
        height:50%;
    }
    .compsection{
        font-size:40%;
    }
}