.heading{
    background-color: peru;
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    font-family: 'Righteous', cursive;
    color:white;
}
.heading a {
    float: right;
}
.logo{
    float:left;
}
.headingmenucn{
    font-size: 20px;
}
/* About Us */
.headingmenu1 {
    width: 65%;
    font-size: 30px;
    color:white;
}
.headingmenu1:hover{
    text-shadow: -1px 1px 0 white; 
}
/* Join Us */
.headingmenu2{    
    font-size:30px;
    width:6.8%;
}
.headingmenu2:hover{
    text-shadow:-1px 1 px 0 white;
}
/* English to Chinese*/
.headingmenu3{
    float: right;
    font-size: 17px;
    background:linear-gradient(to left, firebrick 50%,black 50%);
}
.language {
    position: relative;
    display: inline-block;  
    width: 80px;
    height: 40px;
  }
  
.language input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .3s;
    transition: .3s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 33px;
    width: 33px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: firebrick;
}
/*outline of switch*/
input:focus + .slider {
    box-shadow: 0 0 5px white;
}
/*animation*/
input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}
 
/* Rounded sliders */
.slider.round {
    border-radius: 40px;
}
  
.slider.round:before {
    border-radius: 50%;
}
/* Welcome to CChess*/
.maintext{
    display: flex;
    justify-content: center;
    font-family: 'Lexend Deca', sans-serif;
    overflow: hidden;
    color:orangered;
    border-right: .15em dashed salmon;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    animation: 
        typing 5s steps(40,end),
        blink-caret .75s step-end;
}
@keyframes typing {
    from{width: 0%}
    to{width:80%}
}
@keyframes blink-caret{
    from, to {border-color:transparent}
    0%{border-color:salmon;}
}
.about{
    align-content: center;
}
.menu{
    display: flex;
    justify-content: center;
}
.sectionhead{
    display:flex;
    justify-content:center;
    font-family:'Righteous', cursive;
    color:firebrick;
    font-size: 32px;
}
.section{
    display:block;
    text-align:center;
    font-family:'Gowun Batang', serif;
    color:azure;
    font-size: 23px;
}
.magnify:hover{
    transform: scale(1.7);
}